*{
    box-sizing: border-box;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    list-style-type: none;
}
section{
    display: flex;
    /*flex flow: flex-direction flex-wrap*/
    flex-flow: row wrap;
}
section div img{
    flex: 0 1 200px;
    align-content: space-between;
}
