*{
    box-sizing: border-box;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
}
nav ul li{
    list-style-type: none;
}
nav ul h2, nav ul a {
    background-color: tomato;
    /*flex: flex-grow, flex-shrink, flex-basis*/
    flex: 0 1 200px;
    text-align: center;
}
section{
    display: flex;
    /*flex flow: flex-direction flex-wrap*/
    flex-flow: row wrap;
    justify-content: space-around;
}
section div img{
    flex: 0 1 200px;
}
