*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
main.grid{
    display: grid;
    /*background-color: blue;*/
    height: 100vh;
    width: 100vw;
    background: url("../img/bg.png") -100px;
}
div {
    border: 1px solid #000;
}
div.grid_titel{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #000;
    color: #FFF;
}
div.grid_titel h1{
    margin-bottom: -100px;
    font-size: 50px;
}
div.grid_titel h2{
    font-weight: lighter;
    font-size: 18px;
}
div.info {
    display: flex;
    flex-flow: row wrap;
}
div p {
    display: flex;
    border: 1px solid #000;
    flex: 0 0 50%;
    margin: 0;
    /*This centers the items (p) in their div.*/
    align-items: center;
    justify-content: center;
}
div img {
    display: inline-flex;
}
div p.price {
    flex: 0 0 100%;
}
.hidden {
    display: none;
}