*{
    box-sizing: border-box;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0%;
}
nav ul li{
    list-style-type: none;
    /*flex: flex-grow flex-shrink flex-basis*/
    flex: 0 1 150px;
    text-align: center;
    align-content: center;
    justify-content: center;
}
nav ul li h2{
    display: block;
    margin-left: -50px;
    width: 100vw;
    text-align: center;
}
nav ul a{
    order: 2;
}
section{
    display: flex;
    /*flex flow: flex-direction flex-wrap*/
    flex-flow: row wrap;
    justify-content: space-around;

}
section div img{
    flex: 0 1 300px;
}
@media (min-width: 750px){
    nav ul li{
        display: flex;
    }
    nav ul li.typography, nav ul li.ui{
        display: flex;
        order: -1;
        flex: 0 0 20%;
    }
    nav ul li h2{
        flex: 1 0 20%;
        width: 20%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    nav ul li.branding, nav ul li.graffiti{
        order: 5;
        flex: 0 0 20%;
    }
}