*{
    box-sizing: border-box;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0%;
}
nav ul li{
    list-style-type: none;
    /*flex: flex-grow flex-shrink flex-basis*/
    flex: 0 1 150px;
    text-align: center;
    align-content: center;
    justify-content: center;
}
nav ul li h2{
    /*flex: 1 0 100vw;
    order: 1;*/
    display: block;
    margin-left: -50px;
    width: 99vw;
    text-align: center;
}
nav ul a{
    order: 2;
}
section{
    display: flex;
    /*flex flow: flex-direction flex-wrap*/
    flex-flow: row wrap;
    justify-content: space-around;
}
section div img{
    flex: 0 1 200px;
}
@media (min-width: 750px){

}